@import 'normalize';
@import 'mixins';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.6rem;

  img,
  button {
    user-select: none;
  }
}

a {
  text-decoration: none;
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
}

h1 {
  margin: 0;
  padding: 10px 0 0;
}

p {
  font-size: 14px;
}
