@mixin container(
  $boxShadow: 0px 4px 1px 0px #000,
  $outline: 1px solid black,
  $background: #d9d9d9,
  $borderRadius: 10px,
  $padding: 0 20px 5px
) {
  box-shadow: $boxShadow;
  outline: $outline;
  background: $background;
  border-radius: $borderRadius;
  padding: $padding;
}
